<!DOCTYPE html>
{% comment %}
	This is the base html file for all pages
{% endcomment %}
<html lang="en">
	
    <head>
	    <head>
		<base href="/archiving/">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />        
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />  
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/jquery-1.8.2.min.js"></script> 
        {% block head %}
		{% endblock %}
    </head>
    <body>
        {% block body %}			
		{% endblock %}
    </body>
</html>
