{% extends "template2.html" %}
{% comment %}
	Logged in landing page or home page
{% endcomment %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block content %}
    <link rel="Stylesheet" href="/static/css-hover.css" type="text/css" />
	<script src="/static/css-hover.css"></script> 
	<br><div class="hero-unit">
		<h1>Welcome, {{user}}!</h1>
			<p>This is the DCS Archiving System, made for the management of files and transactions of the UP Diliman DCS Faculty.</p>
		{% if user.is_superuser %}
            <a href="/admin" class="btn btn-large btn-primary">Admin Page</a>
{% endif %}
		</h1>			
	</div><br>

		<div class="row">
			<div class="span4">
				<h4><center>SCAN A DOCUMENT</center></h4>
				<div class="holder smooth">
					{% load static %}<img width = 300px height = 300px src="{% static "images/scan2.png" %}" class = "img-rounded" width=100%/>
					<div class="go-left">
						<a href = "scanpage/"><font color = white> Scan &raquo; </font></a>
					</div>
				</div>
			</div>
			
			<div class="span4">
				<h4><center>VIEW FACULTY LIST</center></h4>
				<div class="holder smooth">
					{% load static %} <img width = 300px height = 300px src="{% static "images/prof2.png" %}" class = "img-rounded" width=100%/>
				<div class="go-left">
					<a href = "users/"><font color = white> Faculty &raquo; </font></a>
				</div>
				</div>	

			</div>
			
			<div class="span4">
				<h4><center>VIEW FACULTY RECORDS</center></h4>
				<div class="holder smooth">
					{% load static %} <img width = 300px height = 300px src="{% static "images/rex2.png" %}" class = "img-rounded" width=100%/>
					<div class="go-left">
						<a href = "users/"><font color = white> Records &raquo; </font></a>
					</div>
				</div>
			</div>
		</div>	


{% endblock %}