{% extends "template2.html" %}
{% comment %}
	Logged in landing page or home page
{% endcomment %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block content %}
	
	<br><div class="hero-unit">
		<h1>Welcome</h1>
			<p>This is the DCS Archiving System, made for the management of files and transactions of the UP Diliman DCS Faculty.</p>
		</h1>			
	</div>

	<div class="row">
		<div class="span4">
			<div class="hero-unit2">
				<center>
				{% load static %}<img width = 200px height = 200px src="{% static "images/scan.png" %}" class = "img-rounded" />
				<a class="btn btn-inverse" href="/scanpage/">Scan &raquo;</a></center>
				</center>
			</div>
		</div>
		<div class="span4">
			<div class="hero-unit2">
				<center>
				{% load static %} <img width = 200px height = 200px src="{% static "images/prof.png" %}" class = "img-rounded"/>
				<a class="btn btn-inverse" href="/users/">View Faculty List &raquo;</a></center>
			</div>
		</div>
		<div class="span4">
			<div class="hero-unit2">
				<center>
				{% load static %} <img width = 200px height = 200px src="{% static "images/rex.png" %}" class = "img-rounded"/>
				<a class="btn btn-inverse" href="/records/">View Records &raquo;</a>
				</center>
			</div>
		</div>
	</div>	

{% endblock %}