{% extends "template2.html" %}
<title> Files </title>

{%block content%}    
 
<br>
{{ state }}
<form class="form-search" method="get" action="search/">
{% csrf_token %}
<div class="row">
  <div class="span offset9">
    <div class="input-append">
        <input class="form-data" type="text" id="term" name="term" placeholder="Search here"/>
        <button type="submit" class="btn">Search</button>
    </div>
  </div>
</div>

</form> 
<script>
$(document).ready(function() 
	{ 
		$("#doc_table").tablesorter(); 
	} 
); 
</script>


<h1 align=center>Records</h1>
<table id = "users_table" border=1 width=80% align=center class="table table-striped">
	<thead> 
	<tr> 
		<th>Faculty</th> 
		<th>Transaction</th> 
        <th>Request Delete</th>
	</tr> 
	</thead> 
	<tbody> 
    {% for a in doc_list %}
        <tr>
        <td><a href="/users/{{a.faculty_id}}/profile">{{ a.faculty }}</a></td>
        <td><a href="{{a.id}}/view/">{{ a.transaction }}</a></td>
        <td><a href="{{a.id}}/delete/"> Delete </a></td>
		</tr>		
    {% endfor %}
	</tbody>
</table>
    
{% endblock %}
