{% extends "template2.html" %}

{%block content%}    
<br>
<br>
	<div class = "row">
	</div>
	<span class="label label-info"><h2>{{ doc.faculty }}: {{ doc.transaction }}</h2></span>
	<table border=1 width=80% align=center class="table table-striped">	
		<tr><th width = 200>Faculty</th><td>{{ doc.faculty }}</td></tr>
		<tr><th>Transcation</th><td>{{ doc.transaction }}</td></tr>
    </table>
	<br>
    <form action="" method="POST">
	<span class="label label-info"><h2>Files</h2></span>
	<table border=1 width=80% align=center class="table table-striped">	

	    {% for a in doc.files.all %}
            {% if a.delete %}
                <td><input type="checkbox" checked="checked" name="{{a.id}}"> <a href= "/files/{{a.id}}" target="_blank"> {{a}}</a></td><br>
            {% else %}
                <td><input type="checkbox" name= "{{a.id}}"><a href= "/files/{{a.id}}" target="_blank"> {{a}}</a></td><br>
            {% endif %}

		{% endfor %}
    </table>
    <button type="submit" class="btn">Request Delete</button>
    
    </form>
{% endblock %}
