{% extends "template2.html" %}
<title> Users </title>

{%block content%}    
<br>
{{ state }}
<div class="row">
	<div class="span6">
		<div class="hero-unit">
			<h1>Scan Your Files</h1>
				<p>1. Make sure that there is a document on your scanner.<br>
				2. Supply all information on the form.<br>
				3. Submit to scan.
				</p>
			</h1>			
		</div>
	</div>
	
	<div class="span6">
		<div class="hero-unit2">
			<h2> Scan Form </h2>
			<form enctype="multipart/form-data" method="post" action="{% url 'DCSArchivingSystem.testapp.views.scanpage2' %}">
			{% csrf_token %}
				<div class="control-group">
					<label class="control-label">Title</label>
					<div class="controls">
						<!--<input type="text" name="title" id="title" placeholder="Title">-->
                                                <select name='transaction'>
                                                        {% for transaction in transactions %}
                                                                {% ifequal transaction.id selected_transaction.id %}
                                                                        <option value={{transaction.id}} selected = "selected"> {{transaction.name}} </option>
                                                                {% else %}
                                                                        <option value={{transaction.id}}> {{transaction.name}} </option>
                                                                {% endifequal %}
                                                        {% endfor %}
                                                </select>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">Faculty</label>
					<div class="controls">	
					<select name= "faculty">
					{% for a in faculty_list %}
						<option value="{{a.id}}, {{ a.last_name }}, {{ a.first_name}}">{{ a.last_name }}, {{ a.first_name}}</option>
					{% endfor %}
					</select>
					</div> 
				</div>
					
				<div class="control-group">
					<div class="controls">
					<button type="submit" class="btn btn-primary">Scan</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
    
{% endblock %}
