{% extends "template2.html" %}
{% load pagination_tags %}
<title> Files </title>

{%block content%}    
 
<br>
<form class="form-search" method="get" action="/records/search/">
{% csrf_token %}
<div class="row">
  <div class="span offset9">
    <div class="input-append">
        <input class="form-data" type="text" id="term" name="term" placeholder="Search here"/>
        <button type="submit" class="btn">Search</button>
    </div>
  </div>
</div>

</form> 
<script>
$(document).ready(function() 
	{ 
		$("#doc_table").tablesorter(); 
	} 
); 
</script>


<h1 align=center>Records</h1>
{% if results|length > 0 %}
<h4>Search results for: {{ keyword }}</h4>
<table id = "users_table" border=1 width=80% align=center class="table table-striped">
	<thead> 
	<tr> 
		<th>Faculty</th> 
		<th>Transaction</th> 
	</tr> 
	</thead> 
	<tbody> 
	{% autopaginate results 10 %}
    {% for a in results %}
        <tr>
        <td><a href="/users/{{a.faculty_id}}/profile">{{ a.faculty }}</a></td>
        <td><a href="/records/{{a.id}}/view/">{{ a.transaction }}</a></td>
        <td><a href="{{a.id}}/delete/"> Delete </a></td>
		</tr>	
    {% endfor %}
	{% paginate %}
	</tbody>
</table>
{% else %}
<h4>No results found for: {{ keyword }}</h4>
{% endif %}
{% endblock %}
