{% extends "base.html" %}
{% comment %}
	Base template when logged in
{% endcomment %}

{% block head %}
    <title>DCS Archiving System</title>
    <style type="text/css">
        .template_body
        {
            padding-top:40px;
        }
    </style>
	<script src="/static/jquery.tablesorter.min.js"></script> 
	<style type="text/css">
        table thead tr .header {
            background-image: url(/static/bg.gif);
            background-repeat: no-repeat;
            background-position: center right;
        }
        table thead tr .headerSortUp {
            background-image: url(/static/asc.gif);
        }
        table thead tr .headerSortDown {
            background-image: url(/static/desc.gif);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
			<a class="brand" href="dashboard/">DCS Archiving System</a>
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
            <div class="nav-collapse nav-collapse_  collapse">
				<ul class="nav pull-right">
					<li class=""><a href="dashboard/"><i class="icon-home icon-white"></i> Home</a>
					<li class=""><a href="scanpage/"><i class="icon-camera icon-white"></i> Scan</a>
					<li class=""><a href="users/"><i class="icon-user icon-white"></i> Faculty</a>
                    <li class=""><a href="records/"><i class="icon-book icon-white"></i> Records</a>
                    <li class=""><a href="trash/"><i class="icon-trash icon-white"></i></a>
					<li class=""><a href="logout/"><i class="icon-off icon-white"></i> Log out</a>
				</ul>
			</div>
        </div>
    </div>
	
    <div class="container">
    <p class="template_body">
    {% block content %}{% endblock %}
    </p>
	
    <footer>
        <br>
        <span class="pull-right">&copy; DCS Archiving System 2012</span>
    </footer>
    </div>


{% endblock %}