{% extends "template2.html" %}
{% load pagination_tags %}
<title> Trash </title>

{%block content%}    
 
<br>
{{ state }}
<form class="form-search" method="get" action="search/">
{% csrf_token %}
<div class="row">
  <div class="span offset9">
    <div class="input-append">
        <input class="form-data" type="text" id="term" name="term" placeholder="Search here"/>
        <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
    </div>
  </div>
</div>

</form> 
<script>
$(document).ready(function() 
	{ 
		$("#doc_table").tablesorter(); 
	} 
); 
</script>


<h1 align=center>Trash</h1>
{% if file_list|length > 0 %}
<form action="" method="POST"> {% csrf_token %}
<button type="submit" class="btn btn-primary">Restore selected files</button>
{% if is_admin %}
<a href="trash/clean" class="btn btn-secondary">Delete all files permanently</a>
{% endif %}
<table id = "records_table" border=1 width=80% align=center class="table table-striped">
	<thead> 
	<tr> 
		<th>File Name</th>
        <th>Restore a file</th>
	</tr> 
	</thead> 
	<tbody>
	{% autopaginate file_list 10 %}
    {% for a in file_list %}
        <tr>
        <td><input type="checkbox" name= "{{a.id}}"> <a href="files/{{a.id}}" target="_blank">{{ a.filename }}</a></td>
        <td><a href="trash/{{a.id}}/restore/"> Restore this file </a></td>
		</tr>		
    {% endfor %}
	{% paginate %}
	</tbody>
</table>
</form>
{% else %}
<div class="well">
  <font size = 4><strong>Note:</strong> There are no files in the trash.</font>
</div>
{% endif %}
{% endblock %}
