{% extends "template2.html" %}
<title> Users </title>

{%block content%}    
 
<br>
{{ state }}
<form class="form-search" method="post" action="search/">
{% csrf_token %}
<div class="row">
  <div class="span offset9">
    <div class="input-append">
        <input class="form-data" type="text" id="term" name="term" placeholder="Search here"/>
        <button type="submit" class="btn">Search</button>
    </div>
  </div>
</div>

</form> 
<script>
$(document).ready(function() 
	{ 
		$("#users_table").tablesorter(); 
	} 
); 
</script>


<h1 align=center>Faculty</h1>
<table id = "users_table" border=1 width=80% align=center class="table table-striped">
	<thead> 
	<tr> 
		<th>Last Name</th> 
		<th>First Name</th> 
		<th>Action</th> 
	</tr> 
	</thead> 
	<tbody> 
    {% for a in users_list %}
        <tr>
        <td>{{ a.last_name }}</td>
        <td>{{ a.first_name }}</td>
		<td><a href="{{ a.id }}/profile">View Faculty</a></td>
		</tr>		
    {% endfor %}
	</tbody>
</table>
    
{% endblock %}
