{% extends "template2.html" %}
{% load pagination_tags %}
<title> Users </title>

{%block content%}    
 
<br>
{{ state }}
<form class="form-search" method="get" action="users/search/">
{% csrf_token %}
<div class="row">
  <div class="span offset9">
    <div class="input-append">
        <input class="form-data" type="text" id="term" name="term" placeholder="Search here"/>
        <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
    </div>
  </div>
</div>

</form> 
<script>
$(document).ready(function() 
	{ 
		$("#users_table").tablesorter(); 
	} 
); 
</script>


<h1 align=center>Faculty</h1>
{% if users_list|length > 0 %}
<table id = "users_table" border=1 width=80% align=center class="table table-striped">
	<thead> 
	<tr> 
		<th>Last Name</th> 
		<th>First Name</th> 
		<th>Action</th> 
	</tr> 
	</thead> 
	<tbody>
	{% autopaginate users_list 10 %}
    {% for a in users_list %}
        <tr>
        <td>{{ a.last_name }}</td>
        <td>{{ a.first_name }}</td>
		<td><a href="users/{{ a.id }}/profile">View Faculty</a></td>
		</tr>	
    {% endfor %}
	{% paginate %}
	</tbody>
</table>
{% else %}
<div class="well">
  <font size = 4><strong>Note:</strong> There are no faculty members yet.</font>
</div>

{% endif %}
    
{% endblock %}
