{% extends "template2.html" %}

{%block content%}
	<span class="label label-info"><h2>{{doc}}</h2></span>
    <a href="/records/{{doc.id}}/change"> Change Owner </a><br>
    {% for a in doc.files.all %}
        {{a}}
        <br>
        <img src= "/media/{{ MEDIA_URL }}{{a.file}}" width = 1000px height = 2500px >
        
        
        <br>
        <a href="/media/{{ MEDIA_URL }}{{a.file}}"> Download </a>
        <br>
        <a href="/print/{{a.id}}" target="_blank">Print</a>
        <br><br>
    {% endfor %}
{%endblock%}